html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

body {
    background-color: #000000;
    color: #ffffff;
}

.grid {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
}

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid grey;
    width: 600px;
    height: 600px;
}
